<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <!-- TextView to show the chosen option -->
    <TextView
        android:id="@+id/selectedOptionText"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Choose an option"
        android:textSize="18sp"
        android:layout_centerHorizontal="true"
        android:layout_marginTop="50dp"/>

    <!-- Button to Choose Option 1 -->
    <Button
        android:id="@+id/buttonOption1"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Option 1"
        android:layout_below="@id/selectedOptionText"
        android:layout_centerHorizontal="true"
        android:layout_marginTop="20dp"/>

    <!-- Button to Choose Option 2 -->
    <Button
        android:id="@+id/buttonOption2"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Option 2"
        android:layout_below="@id/buttonOption1"
        android:layout_centerHorizontal="true"
        android:layout_marginTop="20dp"/>

    <!-- Button to Choose Option 3 -->
    <Button
        android:id="@+id/buttonOption3"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Option 3"
        android:layout_below="@id/buttonOption2"
        android:layout_centerHorizontal="true"
        android:layout_marginTop="20dp"/>

</RelativeLayout>